!!! 5
html(lang="en")
  head
    title nosey
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/client.js")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link#favicon(rel="icon", type="image/x-icon")
  body
    #main!= body
