@import "_grid"
@import "_reset"
@import "nib"

//var_grid_debug = true

#main
  container()
  clearfix()
  padding-bottom 50px

body
  font-family "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
  font-weight 300

h1
  grid_(12)
  font-size 48px
  font-weight 300
  margin-top 1em
  margin-bottom 1em

#projects
  grid_(4)

  .project
    bold-button(#777)

  [data-status="ok"]
    bold-button(#290)
    .icon
      background url(/images/ok.png)

  [data-status="err"]
    bold-button(#920)
    .icon
      background url(/images/err.png)

  [data-running="true"]
    .icon
      background url(/images/running.gif)

  .selected
    border 1px solid black

  .project
    cursor pointer
    margin-bottom 5px
    display block
    padding 0
    text-align left
    font-size 18px
    clearfix()

    .icon
      width 60px
      height 40px
      float left
      background-position center center
      background-repeat no-repeat

    .label
      height 20px
      margin-left 60px
      padding 10px 20px
      background rgba(white, 0.3)
      border 1px solid rgba(white, 0.2)
      border-width 0 1px 0 1px


#project-info
  grid_(8)

  .help
    color #aaa
    display none
    padding 50px
    text-align center
    margin auto

  &.empty
    .help
      display block
    *
      display none

  #stdout
    color #839496
    background #002b36
    overflow auto
    padding-bottom 1em
    border-radius 5px
    height 400px
    padding 10px
    margin 0 -10px

  .rerun
    bold-button(#290)
    margin-left: 1ex
    height: 40px

  .rerun[disabled]
    opacity: 0.1

  .info, .rerun
    font-size: 18px

  .info
    float: right
    margin-right: -10px
    margin-bottom: 1em
    height: 40px

